<!-- switchable tabs at sticked to bottom page, containing 3 majors categories> LIVETV,TVSHOWS, MOVIES -->

<ul class="nav customTextureBG fixed-bottom nav-tabs nav-fill  bg-secondary">
	<li class="nav-item shadow-sm">
		<a class="nav-link active" data-toggle="tab" href="#LIVE-TV">
		<i class="fas fa-2x fa-satellite-dish"></i>&nbsp;&nbsp;<strong>LIVE-TV</strong></a>
	</li>
	<li class="nav-item shadow-sm">
		<a class="nav-link " data-toggle="tab" href="#TV-SHOWS">
		<i class="fas fa-2x fa-tv-retro "></i>&nbsp;&nbsp;<strong>TV-SHOWS</strong></a>
	</li>
	<li class="nav-item shadow-sm">
		<a class="nav-link " data-toggle="tab" href="#MOVIES"><i class="fas fa-2x fa-camcorder"></i>&nbsp;&nbsp;<strong>MOVIES</strong></a>
	</li>
</ul>